{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ProjectType</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Comment</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.projectName }}</td>
                <td>{{ project.projectType }}</td>
                <td>{{ project.startDate ? project.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.endDate ? project.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ project.comment }}</td>
                <td>{{ project.status ? 'Active' : 'Disable' }}</td>
                <td>{{ project.projectManager.fullName }}</td>
                
                <td>
                    <a href="{{ path('app_project_show', {'id': project.id}) }}">show</a>
                    <a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_project_new') }}">Create new</a>
{% endblock %}
